* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    /* border: 1px solid red; */
    width: 120rem;
    height: 80px;
    background-color: white;
    position: fixed;
    box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.2);

    & .navbar {
        display: flex;
        justify-content: space-between;

        & .logo {
            /* border: 1px solid red; */
            width: 250px;
            padding: 15px;
            text-align: center;

            & a {
                text-decoration: none;
                color: rgb(62, 201, 219);
            }
        }

        & .other {
            display: flex;

            & p {
                /* border: 1px solid red; */
                padding: 20px;
                margin-top: 10px;

                & a {
                    text-decoration: none;
                    color: black;
                }

            }

            & p:hover {
                padding: 20px;
                cursor: pointer;

                & a {  
                    color: rgb(62, 201, 219);
                }
            }

            & .active {
                font-weight: bold;

                & a {
                    text-decoration: none;
                    color: rgb(62, 201, 219);
                }
            }


            & .contact {
                /* border: 1px solid red; */
                width: 220px;
                height: 80px;
                background-color: rgb(62, 201, 219);

                & p {
                    margin-left: 30px;
                    margin-top: 10px;      

                    & a {
                        text-decoration: none;
                        color: white;
                    }
                      
                }
            }

            & .contact:hover {
                width: 220px;
                height: 80px;
                background-color: rgb(69, 214, 233);
                cursor: pointer;
            }
        }
    }
}

#photo {
    /* border: 1px solid rgb(255, 255, 255); */
    padding-top: 20px;
    height: 1000px;
    margin-top: 0;
    background-image: url("https://images.unsplash.com/photo-1694403531651-1a1e80f46023?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");

    & .copyright {
        max-width: 1440px;
        height: 500px;
        margin-top: 250px;
        margin-left: 235px;

        & h2 {
            text-align: center;
            color: white;
            padding: 120px;
            font-size: 60pt;
            text-shadow: 1px 1px 2px black;
        }
    }

}

.content {
    /* border: 1px solid red; */
    max-width: 1300px;
    margin: auto;

    & .why {

        & h2 {
            text-align: center;
            margin-top: 80px;
            color: rgb(67, 194, 211);
        }
    
        & .box {
            margin-top: 30px;
    
            & .boxin {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                & .boxin1, .boxin2, .boxin3, .boxin4 {
                    background-color: rgb(245, 245, 245);
                    border-radius: 10px;
                    width: 300px;
                    height: 500px;
                    text-align: center;
                    margin: 10px;
                    padding: 40px;
                    font-size: 12pt;
                }

                & h3, p {
                    margin-top: 20px;
                }

                & .boxin1:hover, .boxin2:hover, .boxin3:hover, .boxin4:hover {
                    background-color: rgb(120, 239, 255);
                    margin-top: -10px;
                    width: 300px;
                    height: 500px;
                    text-align: center;
                    cursor: pointer;
                    padding: 40px;
                    font-size: 12pt;
                }
                
            }
        }
    }


    & .about {
        /* border: 1px solid red; */

        & .aboutin {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 80px;

            & img {
                width: 100%;
                padding: 12px;
            }

            & .abouttext {
                /* border: 1px solid red; */
                padding: 50px;

                & h2 {
                    text-align: left;
                    color: rgb(67, 194, 211)
                }

                & p {
                    font-size: 14pt;
                    margin-top: 15px;
                    
                }

                & ul {
                    /* border: 1px solid red; */
                    font-size: 14pt;
                    margin-top: 30px;

                    & li {
                        padding: 5px;
                        margin-left: 30px;
                    }
                }
            }

            
        }
    }

    .our {
        /* border: 1px solid red; */
        margin-top: 80px;
        

        & h2 {
            margin: auto;
            text-align: center;
            color: rgb(67, 194, 211);
        }
        
        & h3, p {
            text-align: center;
            margin-top: 20px;
        }

        & p {
            padding: 0 30px;
        }

        & img {
            width: 100%;
        }

        & .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 30px;

            & .gridbox1, .gridbox2, .gridbox3 {
                padding: 12px;
            
            }
        }
    }
}

footer {
    margin-top: 60px;
    background-color: rgb(245, 245, 245);
    height: 300px;
    
    & #s4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 1300px;
        margin: auto;

        & p {
            padding: 40px 0;
            font-size: 16pt;
        }
    }
}

@media only screen and (max-width: 1897px) {
    header, section {
        width: 100%;
    }

    #photo {
        width: 100%;
    }
}

@media only screen and (max-width: 1280px) {
    .content {
        /* border: 1px solid red; */
        max-width: 1280px;
        margin: auto;
    
        & .why {

            & .box {
        
                & .boxin {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
    
                    & .boxin1, .boxin2, .boxin3, .boxin4 {
                        background-color: rgb(245, 245, 245);
                        width: 250px;
                        height: 400px;
                        text-align: center;
                        margin: 10px;
                        padding: 30px;
                        font-size: 10pt;
                    }

                    & .boxin1:hover, .boxin2:hover, .boxin3:hover, .boxin4:hover {
                        background-color: rgb(120, 239, 255);
                        margin-top: -10px;
                        width: 250px;
                        height: 400px;
                        text-align: center;
                        cursor: pointer;
                        padding: 30px;
                        font-size: 10pt;
                    }
                    
                }
            }
        }
    }
}
